@media (max-width: 1200px) {
   .container {
        max-width: 850px;
   }
   .catalog .container, .reviews .container {
        max-width: 700px;
   }
    
}


@media (max-width: 992px) {
    .container {
        max-width: 700px;
    }
    .advantages__items {
        width: 225px;
    }
    .title.title_consult {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
    }
    .consult__descr {
        margin: 25px 0 60px 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        }
    .consult .feed-form {
        margin: 0 auto;
    }
    .consult {
        padding: 102px 0 0 0;
    }
    .carusel {
        &__inner {
            width: 710px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 520px;
    }
    .consult .title.title_consult {
        font-size: 25px;
        line-height: 35px;
    }
    .consult {
        min-height: 580px;
        &__descr {
            margin: 25px 0 40px 0;
            font-weight: 500;
            font-size: 19px;
            line-height: 21px;
        }
    }
    .carusel {
        &__inner {
            width: 550px;
        }
    }
    
    .header {
        justify-content: space-between;
        &__official {
            width: 0px;
            display: none;     
    }   }
    .promo {
        padding: 24px 0 0 0;
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }   
    }
    .advantages {
        padding: 73px 0 0 0;
        &__wrapper {
            margin-top: 20px;
            
        }
        &__items {
            margin-top: 50px;
            width: 160px;
        }
        &__subheader {
            margin-top: 20px;
            font-size: 14px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 10px;
        }
    .title {
        font-size: 25px;
    }
    } 
    .catalog .container {
        max-width: 630px;
   }
   .reviews .container {
    max-width: 630px;
    }
    .footer {
        &__info {
            height: 235px;
            padding: 25px 53px 56px 54px;;
        }
    }
    .footer iframe {
        display: none;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100vw ;
    }
    .consult .title.title_consult {
        font-size: 20px;
        line-height: 30px;
    }
    .consult__descr {
        font-size: 15px;
    }
    .header {
        justify-content: center;
        &__official {
            width: 0px;
            display: none;
        }
        &__phone {
            font-size: 14px;
            }
        &__contacts {
                display: none;
            }
        }
     
    .promo {
        min-height: 560px;
        padding: 40px 0 0 0;
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__header {
            font-size: 32px;
            text-align: center;
        }
        &__subheader {
            display: none;
            margin-top: 0px;
            text-align: center;
        }
        &__icons {
            margin-top: 20px;
            width: 315px;
        }
    }
    .advantages {
        padding: 80px 0 90px 0;
        &__wrapper {
            margin-top: 20px;
            display: flex;
            flex-direction:column;
            align-items:center;
        }
            
        &__items {
            margin-top: 50px;
            width: 250px;
        }
        &__subheader {
            margin-top: 20px;
            font-size: 18px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    .carusel {
        &__inner {
            width: 400px;
        }
    }
    .catalog {
        &__content {
            &_active {
                justify-content: center;
            }
        }
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            width: 170px;
            margin-bottom: 15px;
            font-size: 15px;
        }
    }
    .catalog .title {
        font-size: 25px;
    }
    .catalog .container {
        max-width: 700px;
    }
    .reviews .title {
        font-size: 25px;
    }
    .reviews .container {
        max-width: 300px;
    }
    .reviews {
        &__img {
            margin: 0 auto;
        }
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__content {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 100vw ;
    }
    .consult {
        min-height: 480px;
        padding: 90px 0 0 0;
    }
    .consult .title.title_consult {
        font-size: 16px;
        line-height: 25px;
    }
    .consult .feed-form  {
        width: 235px;
        input {
            height: 40px;
        }
    }
    .consult .button_submit {
        width: 100%;
        height: 40px;
        font-size: 13px;
    }
    .consult__descr {
        font-size: 12px;
    }
    .header {
        justify-content: center;
        &__official {
            width: 0px;
            display: none;
        }
        &__phone {
            font-size: 14px;
            }
        &__contacts {
                display: none;
            }
    }
     
    .promo {
        min-height: 560px;
        padding: 40px 0 70px 0;
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__header {
            font-size: 30px;
            text-align: center;
        }
        &__subheader {
            display: none;
            margin-top: 0px;
            text-align: center;
        }
        &__icons {
            margin-top: 20px;
            width: 315px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 30px;
            }
    }
    
    .advantages {
        padding: 80px 0 90px 0;
      
            
        &__items {
            margin-top: 50px;
            width: 250px;
        }
        &__subheader {
            margin-top: 20px;
            font-size: 18px;
        }
        &__descr {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    
    .button_main {
        width: 217px;
        height: 54px;
        font-size: 13px;
        margin-top: 20px;
    }
    .carusel {
        display: none;
        &__inner {
            display: none;
        }
    }
    .catalog {
        padding-top: 50px;
        &__content {
            &_active {
                justify-content: center;
            }
        }
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 15px;
        }
    }
    .catalog .title {
        font-size: 25px;
    }
    .catalog .container {
        max-width: 700px;
   }
   .footer {
        height: 235px;
    &__info {
        height: 235px;
        padding: 25px 53px 56px 54px;;
    }
}
    .footer iframe {
        display: none;
    }
}
    
