.overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 382px;
    min-height: 402px;
    background: #F2F2F2;
    padding: 35px 23px 40px 28px;
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        color: $main-color;
        font-size: 40px;
        line-height: 19px;
        cursor: pointer;
    }
    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 19px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
    }
    &__mini {
        min-height: 143px;
    }
}
#consultation, #order, #thanks {
    display: none;
}